name: Build & Deploy Docker

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .                   # root folder repo
          file: ./Dockerfile           # Dockerfile di root repo
          push: true
          tags: adityabp18/tasktim_docker:latest

  deploy_to_vps:
    runs-on: ubuntu-latest
    needs: build_and_push
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          script: |
            docker stop tastim || true
            docker rm tastim || true
            docker pull adityabp18/tasktim_docker:latest
            docker run -d --name tastim -p 80:80 adityabp18/tasktim_docker:latest
