name: Build & Deploy Docker

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Hanya build image jika ada perubahan pada composer.json / Dockerfile
      - name: Build and push Docker image
        if: github.event_name == 'push' && (contains(github.event.head_commit.message, '[deps]') || contains(github.event.head_commit.added, 'composer.json') || contains(github.event.head_commit.modified, 'composer.json') || contains(github.event.head_commit.modified, 'Dockerfile'))
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: adityabp18/tasktim_docker:latest

  deploy_to_vps:
    runs-on: ubuntu-latest
    needs: build_and_push
    steps:
      - name: Sync app files to VPS
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          source: "cc_tasktim/"
          target: "/home/adit/tasktim_docker/cc_tasktim"

      - name: Restart container on VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          script: |
            docker stop tastim || true
            docker rm tastim || true
            docker run -d --name tastim -p 80:80 \
              -v /home/adit/tasktim_docker/cc_tasktim:/var/www/html \
              adityabp18/tasktim_docker:latest
